<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bibliotec</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="/sweet/sweetalert2.min.css">
    <link rel="shortcut icon" href="media/icon.png" type="image/x-icon">
</head>
<body>
    <nav class="nav-barra">
        <div class="img">
          <img src="/img/logo.png"    height="100px" width="300px">
        </div>
<div class="enlace">
       
      </div>
       
       </div>
       </nav>

       <div class="info-registro">

        <h1>Registro reciente de productos:</h1>
      </div>
       <div class="registro-principal">

       
      <div class="container-registro">
        <% if(data){ %>

          <% data.forEach((producto)=> { %>
        <div class="datos">

          <div class="titulo">
            <%= producto.nombre %>:
          </div>

          <div class="titu">
<div class="caja">
  <div class="texto">
  Id:<p><%= producto.id %> </p>  
</div>
</div>
<div class="caja">
  <div class="texto"> 
 Categoria:<p> <%= producto.categoria %></p>
</div>
</div>
<div class="caja">
  <div class="texto">
     
   Envalaje:<p><%= producto.envalaje %></p>
</div>
</div>
<div class="caja">
  <div class="texto">
    
 Cantidad: <p> <%= producto.cantidad %></p>
</div>
</div>
<div class="caja">
  <div class="texto">
    
  Descripcion:<p><%= producto.descripcion %></p>
</div>
</div>
          </div>
        </div>
       
        <% }) %>
        <% }else { %>
          <h1>No hay datos</h1>

         <%} %>

        
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
              </div>
           
    </div>
      <footer>Inventārs, Copyright &#169; 2022</footer>
      
      
</body>

</html>